@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #080D1A;
  --color-surface: #0D1426;
  --color-surface-2: #111827;
  --color-border: #1A2540;
  --color-teal: #00C9B1;
  --color-amber: #F5A623;
  --color-text: #E2E8F0;
  --color-muted: #64748B;
  --color-muted-2: #94A3B8;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080D1A;
  color: #E2E8F0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

::selection {
  background-color: #00C9B1;
  color: #080D1A;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #080D1A;
}
::-webkit-scrollbar-thumb {
  background: #1A2540;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748B;
}
